@import 'manifest';

:host {
  @include component;

  --xec-dropdown-background-color: white;
  --xec-dropdown-border-radius: 5px;

  position: relative;
  .wrapper {
    @include shadow;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    border-radius: var(--xec-dropdown-border-radius);
    background-color: var(--xec-dropdown-background-color);
    transition: top 0.2s ease,
                opacity 0.2s ease;
    &.open {
      top: 100%;
      opacity: 1;
      pointer-events: auto;
    }
    xec-button {
      white-space: nowrap;
    }
  }
}
