@import 'manifest';

:host {
  @include component;

  --tcs-visualizer-title-color: #{$color-slate-400};
  --tcs-visualizer-text-color: #{$color-slate-700};
  --tcs-visualizer-border-color: #{$color-slate-400};
  --tcs-visualizer-border-radius: 5px;

  --tcs-visualizer-document-viewer-background-color: #{$color-slate-900};

  --tcs-visualizer-range-control-background-color: white;
  --tcs-visualizer-range-control-border-color: #{$color-slate-300};

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid var(--tcs-visualizer-border-color);
  border-radius: var(--tcs-visualizer-border-radius);
  width: 100%;

  .documentViewer {
    position: relative;
    // You can't set the width of a flex item that use resize
    flex: 0 0 auto;
    // Resize control
    resize: horizontal;
    overflow-x: hidden;
    overflow-y: hidden;
    // Define as initial width
    width: 50%;
    // Limit the minimum width when resizing
    min-width: 200px;
    max-width: calc(100% - 200px);

    background: var(--tcs-visualizer-document-viewer-background-color);
    border-right: 1px solid var(--tcs-visualizer-border-color);

    .controls {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      z-index: 2;
      gap: 4px;
      tcs-button {
        --tcs-button-border-top-right-radius: 3px;
        --tcs-button-border-top-left-radius: 3px;
        --tcs-button-border-bottom-right-radius: 3px;
        --tcs-button-border-bottom-left-radius: 3px;
      }

      .rangeControl {
        position: absolute;
        right: calc(100% + 10px);
        width: 200px;
        padding: 10px;
        border-radius: 3px;
        background-color: var(--tcs-visualizer-range-control-background-color);
        opacity: 0;
        pointer-events: none;
        border: 1px solid var(--tcs-visualizer-range-control-border-color);
        transition: opacity 0.2s ease,
        top 0.2s ease;
        &.open {
          opacity: 1;
          pointer-events: all;
        }
        &.brightness {
          top: 10px;
          &.open {
            top: 0;
          }
        }
        &.contrast {
          top: 48px;
          &.open {
            top: 38px;
          }
        }
      }
    }

    .viewer {
      position: absolute;
      z-index: 1;
      inset: 10px;
    }

  }

  .dataViewer {
    position: relative;
    // Auto resize to fill the remaining space
    flex: 1 1 auto;
    .toolbar {
      position: relative;
      z-index: 2;
    }
    .viewers {
      position: relative;
      z-index: 1;
      .viewer {
        position: relative;
        min-height: 200px;
        &::before {
          position: absolute;
          pointer-events: none;
          top: 15px;
          right: 30px;
          color: var(--tcs-visualizer-title-color);
          font-weight: 700;
          font-size: 8px;
          text-transform: uppercase;
          letter-spacing: 1px;
          transition: color 0.2s ease;
          z-index: 10;
        }
        tcs-dropdown {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 10;
        }
        &.translate {
          &::before {
            content: 'Translation';
          }
        }
        &.transcribe {
          &::before {
            content: 'Transcription';
          }
        }
        &.comment {
          &::before {
            content: 'Comment';
          }
        }
      }
    }
  }
}

:host(.rows) {
  .dataViewer .viewers {
    .viewer {
      &:not(:last-child) {
        border-bottom: 1px solid var(--tcs-visualizer-border-color);
      }
    }
  }
}
:host(.columns) {
  .dataViewer .viewers {
    display: flex;
    flex-direction: row;
    .viewer {
      flex: 0 0 33.33%;
      &:not(:last-child) {
        border-right: 1px solid var(--tcs-visualizer-border-color);
      }
    }
  }
}
:host(.mix) {
  .dataViewer .viewers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .viewer:first-child {
      flex: 0 0 50%;
      border-right: 1px solid var(--tcs-visualizer-border-color);
    }
    .viewer:nth-child(2) {
      flex: 0 0 50%;
    }
    .viewer:last-child {
      flex: 0 0 100%;
      min-height: 150px;
      border-top: 1px solid var(--tcs-visualizer-border-color);
    }
  }
}
