@mixin component() {
  display: block;
  font-family: $font-default;
  &, *, *:before, *:after {
    box-sizing: border-box;
  }
}

@mixin shadow() {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}


@mixin scrollbar() {
  &::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 4px;
    background-color: $color-slate-300;
    z-index: 2;
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: $color-slate-300;
    z-index: 2;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    box-shadow: none;
    background-color: $color-slate-500;
    z-index: 2;
  }
}

@mixin wysiwyg() {
}
