@import 'manifest';

:host {
  @include component;

  --xec-icon-color: #{$color-slate-400};

  position: relative;
  display: block;
  color: var(--xec-icon-color);
  svg {
    position: absolute;
    inset: 0;
  }
}
