@import 'manifest';

:host {
  @include component;
  @include shadow;

  --tcs-drawer-width: 40vw;
  --tcs-drawer-background-color: white;

  position: fixed;
  width: var(--tcs-drawer-width);
  height: 100vh;
  min-width: 400px;
  top: 0;
  bottom: 0;
  right: -100%;
  transition: right 0.2s ease-in-out;
  background-color: var(--tcs-drawer-background-color);
  tcs-button {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
  }
  .scroller {
    @include scrollbar;
    overflow-y: scroll;
    padding: 60px;
    height: 100%;
  }
  .content {
    @include wysiwyg;
  }
}
:host(.open) {
  right: 0;
}
