@use 'sass:math';
@import 'manifest';

xec-editor {
  @import 'quill/dist/quill.core';
  @include component;

  --xec-editor-title-color: #{$color-slate-400};
  --xec-editor-text-color: #{$color-slate-700};
  --xec-editor-line-number-color: #{$color-slate-400};
  --xec-editor-border-color: #{$color-slate-400};
  --xec-editor-border-radius: 5px;
  --xec-editor-height: 300px;

  --xec-editor-focus-border-color: #{$color-slate-700};
  --xec-editor-focus-title-color: #{$color-slate-700};

  --xec-editor-text-element-border-color: #{$color-slate-200};
  --xec-editor-text-element-background-color: #{rgba($color-slate-100, .5)};
  --xec-editor-tooltip-color: #{$color-slate-500};
  --xec-editor-tabs-button-color: #{$color-slate-500};
  --xec-editor-tabs-button-hover-background-color: #{$color-slate-100};

  position: relative;

  .toolbar {
    position: relative;
    z-index: 20;
  }
  .editors {
    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    height: var(--xec-editor-height);
    background-color: white;
    border: {
      bottom-left-radius: var(--xec-editor-border-radius);
      bottom-right-radius: var(--xec-editor-border-radius);
    };
    &.tabs {
      .editorWrapper {
        flex: 0 0 calc(100% - 20px);
        border-bottom-left-radius: var(--xec-editor-border-radius);
        &.comment {
          border-bottom-right-radius: 0;
        }
      }
      .tabs {
        flex: 0 0 20px;
        display: flex;
        flex-direction: column;
        button.tab {
          cursor: pointer;
          display: block;
          flex: 1;
          writing-mode: vertical-lr;
          background-color: white;
          color: var(--xec-editor-tabs-button-color);
          font-weight: 700;
          font-size: 8px;
          border: none;
          text-transform: uppercase;
          letter-spacing: 1px;
          border-right: 1px solid var(--xec-editor-border-color);
          border-top: 1px solid var(--xec-editor-border-color);
          transition: border-color 0.2s ease,
                      background-color 0.2s ease;
          &:last-child {
            border-bottom: 1px solid var(--xec-editor-border-color);
            border-bottom-right-radius: var(--xec-editor-border-radius);
          }
          &:hover {
            border-color: var(--xec-editor-focus-border-color);
            background-color: var(--xec-editor-tabs-button-hover-background-color);
          }
        }
      }
      .editorWrapper:not(.active) {
        display: none;
      }
    }
    .editorWrapper {
      position: relative;
      flex: 0 0 math.div(100%, 3);
      border: {
        width: 1px;
        style: solid;
        color: var(--xec-editor-border-color);
      }
      transition: border-color 0.2s ease;
      xec-dropdown {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
      }
      &::before {
        position: absolute;
        pointer-events: none;
        top: 15px;
        right: 30px;
        color: var(--xec-editor-title-color);
        font-weight: 700;
        font-size: 8px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: color 0.2s ease;
        z-index: 10;
      }

      &.active {
        border-color: var(--xec-editor-focus-border-color);
        &::before {
          color: var(--xec-editor-focus-title-color);
        }
      }

      &.transcribe {
        border-bottom-left-radius: var(--xec-editor-border-radius);
        border-right-color: transparent;
        &.active {
          border-right-color: var(--xec-editor-focus-border-color);
          + .editorWrapper {
            border-left-color: transparent;
          }
        }
        &::before {
          content: 'Transcribe';
        }
      }

      &.translate {
        border-right-color: transparent;
        &.active {
          border-right-color: var(--xec-editor-focus-border-color);;
          border-left-color: var(--xec-editor-focus-border-color);
          + .editorWrapper {
            border-left-color: transparent;
          }
        }
        &::before {
          content: 'Translate';
        }
      }

      &.comment {
        border-bottom-right-radius: var(--xec-editor-border-radius);
        &.active {
          border-left-color: var(--xec-editor-focus-border-color);
        }
        &::before {
          content: 'Comments';
        }
      }
      .editor {
        font: {
          size: 13px;
          weight: 400;
          family: $font-default;
        }
        color: var(--xec-editor-text-color);

        &.textarea {
          display: block;
          outline: none;
          border: none;
          resize: none;
          position: relative;
          padding: 40px 30px 30px;
          height: 100%;
          width: 100%;
        }

        &.hidden {
          display: none;
        }

        // Quill Editor override
        .ql-editor {
          position: relative;
          padding: 40px 30px 30px;
          counter-set: line 0;
          &.direction-rtl {
            direction: rtl;
            text-align: right;
            line {
              &::before {
                right: -20px;
                left: unset;
              }
            }
          }
          &.direction-ltr {
            direction: ltr;
            text-align: right;
          }
          div {
            display: inline;
          }
          // Custom tags
          line {
            position: relative;
            display: block;
            counter-increment: line;
            &::before {
              content: counter(line);
              position: absolute;
              left: -20px;
              top: 3px;
              display: block;
              text-align: right;
              color: var(--xec-editor-line-number-color);
              font-size: 10px;
              font-weight: 700;
            }
          }
          // Text elements
          unclear,
          del,
          h,
          space,
          seg,
          supplied,
          pc,
          abbr {
            position: relative;
            border: 1px solid var(--xec-editor-text-element-border-color);
            background-color: var(--xec-editor-text-element-background-color);
            &::before {
              @include shadow;
              z-index: 20;
              position: absolute;
              pointer-events: none;
              left: 50%;
              transform: translateX(-50%);
              bottom: 10px;
              background-color: white;
              padding: 2px 5px;
              border-radius: 5px;
              transition: bottom 0.2s ease;
              white-space: nowrap;
              color: var(--xec-editor-tooltip-color);
            }
            &:hover {
              &::before {
                bottom: 20px;
              }
            }
          }
          space {
            text-align: center;
            display: inline-block;
            width: 20px;
          }
          unclear:hover::before {
            content: 'unclear: (' attr(reason) ')';
          }
          seg:hover::before {
            content: 'annotation: (' attr(type) ', ' attr(rend) ', ' attr(hand) ')';
          }
          supplied:hover::before {
            content: 'reconstruction: (' attr(reason) ')';
          }
          del:hover::before {
            content: 'deleted: (' attr(rend) ')';
          }
          h:hover::before {
            content: 'highlighted: (' attr(rend) ')';
          }
          abbr:hover::before {
            content: 'abbreviation: (' attr(rend) ')';
          }
          space:hover::before {
            content: 'blank space: (' attr(value) attr(unit) ')';
          }
          pc:hover::before {
            content: 'punctuation';
          }
          div.first {
            &[type="chapter"]::before {
              content: '[c]: ' attr(n) ' ';
            }
            &::before {
              font-weight: 700;
              font-size: 10px;
            }
          }
          ab.first {
            &::before {
              content: '[ab]: ' attr(n) ' ';
              font-weight: 700;
              font-size: 10px;
            }
          }
          div.last {
            &[type="chapter"]::after {
              content: ' [/c]';
            }
            &::after {
              font-weight: 700;
              font-size: 10px;
            }
          }
          ab.last {
            &::after {
              content: ' [/ab]';
              font-weight: 700;
              font-size: 10px;
            }
          }
        }

      }
    }
  }

}
