@import 'manifest';

:host {
  @include component;

  --xec-button-color: #{$color-slate-400};
  --xec-button-icon-color: #{$color-slate-400};
  --xec-button-border-color: #{$color-slate-400};
  --xec-button-background-color: white;

  --xec-button-hover-color: #{$color-slate-600};
  --xec-button-hover-icon-color: #{$color-slate-600};
  --xec-button-hover-border-color: #{$color-slate-600};
  --xec-button-hover-background-color: #{$color-slate-100};

  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font: { size: 12px; }
  background-color: var(--xec-button-background-color);
  padding: 10px 12px;
  color: var(--xec-button-color);
  transition: border-color 0.2s ease,
              background-color 0.2s ease,
              color 0.2s ease;
  .icon {
    display: block;
    height: 12px;
    width: 12px;
    color: var(--xec-button-icon-color);
    transition: color 0.2s ease;
  }
}

:host(:hover),
:host(.active) {
  color: var(--xec-button-hover-color);
  background-color: var(--xec-button-hover-background-color);
  .icon {
    color: var(--xec-button-hover-icon-color);
  }
}

:host(.iconOnly) {
  padding: 10px;
}

:host(.rounded) {
  border-radius: 5px;
}

:host(.outlined) {
  border: 1px solid var(--xec-button-border-color);
  &:hover {
    border-color: var(--xec-button-hover-border-color);}
}
