@import 'manifest';

:host {
  @include component;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  xec-select {
    width: 100%;
    margin-bottom: 10px;
    //
  }
}
