@import 'manifest';

:host {
  @include component;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  tcs-select,
  tcs-textfield {
    width: 100%;
    margin-bottom: 10px;
  }
}
